head,body{
    margin: 0px;
}
.div{

    background: hsl(209, 91%, 23%);
    height: 289px;
     display: flex;
     justify-content: left;
     align-items:center;
     border-radius: 20px;


}
.imagerot{
    margin: 20px;
    border-radius: 125px;
    height: 90px;

}